head
    title gallery
    link(href='/style/style.css' rel='stylesheet')
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular/angular-animate.js')
    script(src='/libs/angular-drag-and-drop-lists.js')
    script(src='/js/app.js')
