doctype html
html
    include ./template/includes/head.pug

    body(ng-app='myApp' ng-controller='homeCtrl')
        include ./template/includes/header.pug
        include ./template/components/gellary.pug
        include ./template/includes/foot.pug